name: Run security scans

on:
    workflow_dispatch:

jobs:
  SSDLC:
    runs-on: [self-hosted-linux-amd64-jammy-private-endpoint-medium]
    permissions:
      contents: read

    strategy:
      matrix:
        manifest:
        - mir
        - ubuntu-frame
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e  # v6.8.0
      - name: Run sbomber
        # FIXME: switch to official action when ready
        uses: Saviq/sbomber/.github/actions/run@mir
        with:
          sbomber-ref: mir
          manifest: ssdlc/${{ matrix.manifest }}.yaml
          artifact-name: ${{ matrix.manifest }}-results
      - if: ${{ failure() && runner.debug }}
        name: Setup tmate session
        uses: canonical/action-tmate@main
        with:
          limit-access-to-actor: true
